@import '../../vars';


body {
  text-align: center;
  margin-bottom: 100px;
}

h1 {
  margin-top: 50px;
  font-size: 60px;
}

.cont {
  width: 75%;
  margin: 0 auto;

  span {
    font-size: 30px;
    display: block;
    margin-bottom: 50px;
  }
  img, video {
    margin: 10px auto;
  }
  
}
.divider {
  width: 85%;
  height: 1px;
  background: $lgrey;
  margin: 20px auto;
}