body {
    overflow: visible !important;
}

#nav {
    animation: navAnim 2s ease forwards;
    top: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
}

#thestuff {
    animation: animIn 1s ease forwards;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

video {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gmodfall, .idc, .trained, .gmensfall, .adam, .stfu {
    width: 80%;
}
.gmodfall_orig {
    margin-top: -10px;
    width: 70%;
}
.gmanfall {
    width: 30%;
}
.gtg {
    width: 50%;
}



@keyframes navAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




@media only screen and (max-width: 600px){
    #nav {
        font-size: 1.2em;
    }
    .gmodfall, .idc, .trained, .gmensfall, .adam, .stfu {
        width: 80%;
    }
    .gmodfall_orig {
        margin-top: -10px;
        width: 75%;
    }
    .gmanfall {
        width: 90%;
    }
    .gtg {
        width: 90%;
    }
}