body {
    overflow: visible !important;
    overflow-x: hidden;
}


#back {
    animation: backAnim 1.5s 0.5s ease forwards;
    opacity: 0;
    text-align: left;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    height: 50px;
    width: 10%;
    font-size: 1.5em;
    margin-left: -9px;
    margin-top: -5px;
}
.back {
    padding-left: 20px;
    padding-top: 5px;
}

#thestuff {
    animation: animIn 1s ease forwards;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

video {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gmodfall, .idc, .trained, .gmensfall, .adam, .stfu {
    width: 75%;
}
.gmodfall_orig {
    width: 70%;
    margin-top: -10px;
}
.gmanfall {
    width: 30%;
}
.gtg {
    width: 55%;
}

.more {
    font-size: 1.7em;
    margin-top: 50px;
    margin-bottom: 30px;
}



@keyframes backAnim {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}





@media only screen and (max-width: 600px){
    .gmodfall, .idc, .trained, .gmensfall, .adam, .stfu {
        width: 90%;
    }
    .gmodfall_orig {
        margin-top: -10px;
        width: 75%;
    }
    .gmanfall {
        width: 90%;
    }
    .gtg {
        width: 90%;
    }
    #back {
        display: none;
    }
    .more {
        font-size: 1em;
    }
}