@media screen and (max-width: 720px){
  body {
    margin: 0 10px;
  }

  main {
    transform: translate(0%, 15vh);

    h1 {
      font-size: 50px;
    }
    .desc {
      font-size: 20px;
    }
  }

  #links {
    width: 90%;
    font-size: 25px;

    div {
      width: 90%;
      a {
        &::after {
          left: 45%;
          width: 10%;
        }
        &:hover::after {
          width: 25%;
          left: 37.5%;
        }
      }
    }
  }
}