body {
    overflow: visible !important;
    overflow-x: hidden;
}

#back {
    animation: backAnim 1.5s 0.5s ease forwards;
    opacity: 0;
    text-align: left;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    height: 50px;
    width: 10%;
    font-size: 1.5em;
    margin-left: -9px;
    margin-top: -5px;

    position: fixed;
}
.back {
    padding-left: 20px;
    padding-top: 5px;
}

img, video {
    display: block;
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 25px;
}

.vp {
    display: block;
    font-size: 1.7em;
    margin-bottom: 50px;
}

@keyframes backAnim {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}



@media only screen and (max-width: 600px){
    #back {
        display: none;
    }
    img, video {
        width: 300px;
        margin-bottom: 5px;
    }
    .vp {
        font-size: 1.3em;
        margin-bottom: 100px;
    }
}