body {
    text-align: center;
}

h1 {
    animation: animIn 1s 0.5s ease forwards;
    font-size: 3.5em;
    margin-top: 50px;
    text-transform: uppercase;
    opacity: 0;
}
h3 {
    animation: animIn 1s 1s ease forwards;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 100px;
    opacity: 0;
}

.blender {
    animation: animIn 1s 1.5s ease forwards;
    font-size: 2.5em;
    margin-bottom: 20px;
    opacity: 0;
}
.edits {
    animation: animIn 1s 2s ease forwards;
    font-size: 2.5em;
    margin-bottom: 20px;
    opacity: 0;
}
.tg {
    animation: animIn 1s 2.5s ease forwards;
    font-size: 2.5em;
    margin-bottom: 20px;
    opacity: 0;
}
.gmod {
    animation: animIn 1s 3s ease forwards;
    font-size: 2.5em;
    margin-bottom: 20px;
    opacity: 0;
}


#back {
    animation: backAnim 1.5s 0.5s ease forwards;
    opacity: 0;
    text-align: left;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    height: 50px;
    width: 10%;
    font-size: 1.5em;
    margin-left: -9px;
    margin-top: -5px;
}
.back {
    padding-left: 20px;
    padding-top: 5px;
}


@keyframes backAnim {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}




@media only screen and (max-width: 600px){
    #socials {
        font-size: 1.5em;
        margin-top: 25%;
    }
    #back {
        display: none;
    }

    h1 {
        font-size: 2em;
        margin-top: 50px;
    }
    h3 {
        font-size: 1.2em;
        margin-bottom: 60px;
    }
    .shits {
        display: block;
        visibility: visible;
    }

    .blender, .edits, .tg, .gmod {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
}