body {
  padding: 15px;
  margin: 15px;
}


img, video {
  display: block;
  margin: 0 auto;
  width: 900px;
  margin-bottom: 25px;
}


@media only screen and (max-width: 650px) {
  img, video {
    width: 300px;
  }
}