body {
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin-top: 50px;
  font-size: 2.5em;
}

.cont {
  width: 75%;
  margin: 0 auto;
}
.cont span {
  font-size: 1.75em;
}

img, video {
  margin: 10px auto;
}

.divider {
  width: 85%;
  height: 1px;
  background: #aaa;
  margin: 20px auto;
}
