body {
  padding: 0;
  margin: 0;
}


#centerdiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 0;
  vertical-align: middle;
  width: 100%
}


h1 {
  animation: var(--animin);
  animation-delay: 0.5s;
  font-size: 3.5em;
  text-transform: uppercase;
  opacity: 0;
  text-align: center;
}

.linkcontainer {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
  font-size: 2.5em;
  text-decoration: none !important;
}


.link {
  display: block; 
  position: relative; 
  padding: 10;
  transition: all .3s ease;

  animation: var(--animin);
  opacity: 0;
  
  text-decoration: none !important;
}

.link a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  transition: all .3s ease;
  text-decoration: none !important;
}
.link a:hover {
  color: var(--link-colour);
  transition: all .3s ease;
}
.link a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 25%;
  width: 50%;
  position: absolute;
  background: #fff;
  transition: all .3s ease;
}
.link a:hover:after {
  width: 100%;
  left: 0;
  background: var(--link-colour);
  transition: all .3s ease;
}


.link:nth-child(1) {
  animation-delay: 1s;
}
.link:nth-child(2) {
  animation-delay: 1.2s;
}
.link:nth-child(3) {
  animation-delay: 1.4s;
}


@media only screen and (max-width: 650px) {
  body {
    overflow: hidden;
  }
  h1 {
    font-size: 2.5em;
  }
  .linkcontainer {
    font-size: 2em;
    display: block;
    width: 300px;
  }
}
