body {
  padding: 0;
  margin: 0;
}


h1 {
  animation: var(--animin-transition);
  animation-delay: 0.5s;
  font-size: 3.5em;
  margin-top: 250px;
  text-transform: uppercase;
  opacity: 0;
  text-align: center;
}

#links {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
  font-size: 2.5em;
  text-decoration: none !important;
}
.link {
  display: block; 
  position: relative; 
  padding: 10;
  transition: var(--transition-set);
  text-decoration: none !important;
}
.link > a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  transition: var(--transition-set);
  text-decoration: none !important;
}
.link > a:hover {
  color: var(--link-colour);
  transition: var(--transition-set);
}
.link > a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 25%;
  width: 50%;
  position: absolute;
  background: #fff;
  transition: var(--transition-set);
}
.link > a:hover:after {
  width: 100%;
  left: 0;
  background: var(--link-colour);
  transition: var(--transition-set);
}


@media only screen and (max-width: 650px) {
  body {
    overflow: hidden;
  }
  h1 {
    font-size: 2.5em;
    margin-top: 50px;
  }
  #links {
    font-size: 2em;
    display: block;
    width: 300px;
  }
}